/* Custom css */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Playfair+Display:wght@400;500&display=swap');

body {
    color: #292828;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.5px
}

.body_wraper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.wrap {
    overflow: hidden;
    position: relative;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lexend Deca', sans-serif;
    color: #193d6f;
}

h1{
    font-size: 2.4rem;
}

p{
    font-family: 'Playfair Display', serif;
    color: #303030;
}

a,
a:hover {
    text-decoration: none;
    outline: none
}

a {
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s
}

img {
    max-width: 100%
}

a {
    color: #193d6f
}

/* header */
.header_outer{
    width: 100%;
    position: relative;
    background: #fff;
    height: 0px;
}

.headerin{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
}

.menudiv{
    width: 100%;
    background: #fff;
}

.for_megamenu{
    position: relative;
}

.heaeder_top_bar{
    width: 100%;
    overflow: hidden;
    display: none;
}

.htop_bar_left{
    position: relative;
    border-bottom: 2px solid rgba(0,0,0,0.15);
    width: 70%;
}

.htop_bar_left::before{
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.h_contact_bar{
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.h_contact_bar label{
    margin: 0;
    color: #193d6f;
    font-size: 19px;
}

.h_contact_bar label a:hover{
    color: #eba24a;
}

.h_contact_bar label i{
    margin-right: 5px;
}

.htop_bar_right{
    position: relative;
    /* padding-left: 100px; */
    border-bottom: 2px solid rgba(0,0,0,0.15);
    float: right;
    width: 70%;
}

.htop_bar_right::before{
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.header_social{
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.htop_bar_right .header_social {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header_social>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_social ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header_social ul li {
    display: inline-block;
    margin-right: 15px;
}

.header_social ul li:last-child{
    margin-right: 0;
}

.header_social ul li a {
    font-size: 25px;
    color: #193d6f;
    padding: 5px 20px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #eba24a;
}

.header_social ul li a:hover{
    border: 1px solid #eba24a;
    background-color: #eba24a;
    transition: all .3s ease;
}

.panel-menu ul li a:hover{
    color: #eba24a !important;
}

.apply_now{
    margin-right: 20px;
    display: inline-block;
    background: #eba24a;
    padding: 7px 35px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    transition: all .3s;
}

.apply_now:hover{
    background-color: #ae722a;
    color: #fff;
    transition: all .3s ;
}

.pos_inherit{
    position: inherit !important;
}

.header_left_part{
    padding-right: 100px;
    float: left;
}

.menu_part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_left_part .menu_part {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.desktop_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.desktop_menu_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.desktop_menu_ul>li {
    display: block;
    color: #333;
    position: relative;
    padding: 10px 10px 16px;
    margin-right: 0px;
}

.desktop_menu_ul>li.arrow_sub{
    margin-right: 10px;
}

@media(min-width: 1200px){
    .desktop_menu_ul>li{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 22px;
        padding-bottom: 22px;
    }
}

@media(max-width: 1200px){
    .desktop_menu_ul>li {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.arrow_sub>a:after{
    content: "\f0dd";
    position: absolute;
    right: -10px;
    /* top: -6px; */
    top: 0;
    font-size: 16px;
    font-family: 'FontAwesome';
}

.desktop_menu_ul>li>ul{
    position: absolute;
    left: 0;
    z-index: 91;
    background: #fff;
    /* width: 330px; */
    width: 320px;
    /* padding: 40px 50px; */
    padding: 30px;
    margin-left: -18px;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform-origin: center;
    transform-origin: center;
}

.desktop_menu_ul>li>ul li{
    display: block;
    border-bottom: 1px solid #ddd;
}

.desktop_menu_ul>li>ul li:last-child{
    border-bottom: none;
}

.desktop_menu_ul>li>ul li a{
    color: #193d6f;
    font-size: 19px;
    font-weight: 500;
    display: block;
    line-height: 20px;
    padding: 12px 0;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

.desktop_menu_ul>li>ul li a:hover{
    color: #eba24a;
}

.desktop_menu_ul>li:hover>ul{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition-delay: 0.5s !important;
    transition-delay: 0.5s !important;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

.desktop_menu_ul>li:first-child {
    padding-left: 0;
}

.desktop_menu_ul>li>a {
    font-size: 19px;
    font-weight: 500;
    display: block;
    position: relative;
    z-index: 21;
    padding: 0 5px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

.desktop_menu_ul>li>a:hover{
    color: #eba24a;
}

.desktop_menu_ul>li:first-child a {
    margin-left: 0;
    padding-left: 0;
}

.header_right_part{
    padding-left: 100px;
    float: right;
}

.logo_sec{
    /* width: 148px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0px;
    z-index: 90;
    background: #193d6f;
    padding: 20px 20px 30px;
    display: none;
}

.logo_sec a {
    display: inline-block;
}

.logo_sec a img {
    max-width: 240px;
}

.mobile_menu {
    /* display: none; */
    margin-left: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    right: 20px;
    top: 30px;
}

/* banner */
.banner-slider{
    position: relative;
    background-image: url(../img/banner/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 760px;
}

.banner-ct{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 760px;
    justify-content: center;
}

.banner-head{
    margin-bottom: 15px;
    margin-top: 100px;
}

.banner-head h1{
    color: #fff;
    font-size: 70px;
    letter-spacing: 2px;
}

.banner-btn a{
    background: #eba24a;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 30px 40px;
    display: block;
    width: 45%;
    opacity: 0.9;
}

.banner-btn a:hover{
    background-color: #ae722a;
    color: #fff;
    transition: all .3s ;
}

.banner-btn a span.explore{
    font-size: 22px;
    letter-spacing: 3px;
}

/* About */


/* panel menu */
.panel-menu .sub_item li a {
    font-size: 15px
}

.panel-menu ul li.mb_signbtn a{
    display: inline-block;
    padding: 10px 30px 12px;
    color: #fff !important;
    background: #eba24a !important;
    border-radius: 5px;
}

.panel-menu ul li.mb_signbtn a:hover{
    background-color: #ae722a;
    color: #fff;
}

.menu_secfixed{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
    border: 0;
    background: #fff;
    -webkit-box-shadow: 0 7px 13px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 7px 13px 0 rgb(0 0 0 / 10%);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@media (min-width: 1200px){
    .menu_secfixed .heaeder_top_bar {
        display: none
    }
    .menu_secfixed .logo_sec {
        padding: 10px 20px 20px;
    }
    .menu_secfixed .logo_sec a img{
        max-width: 140px;
    }
    .menu_secfixed .desktop_menu_ul>li{
        padding: 20px 10px 20px;
    }
}

@media(max-width: 1199px){
    .header_outer, .menu_secfixed {
        height: 96px;
    }
    .menu_secfixed .logo_sec a img{
        max-width: 150px;
    }
}

@media(max-width:575px){
    .menu_secfixed .logo_sec a img{
        max-width: 120px;
    }
    .header_outer, .menu_secfixed{
        height: 75px;
    }
    .menu_secfixed .logo_sec {
        padding: 15px 15px 20px;
    }
}
